site_name: PrexSyn Documentation
repo_url: https://github.com/luost26/prexsyn
theme:
  name: material
  features:
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.path
    - toc.follow
    - content.code.copy
markdown_extensions:
  - attr_list
plugins:
  - search
  - awesome-nav
